$fa-font-path: "../node_modules/@fortawesome/fontawesome-free/webfonts";
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "../node_modules/@fortawesome/fontawesome-free/scss/brands";

@import "../node_modules/bootstrap/scss/bootstrap.scss";



body {
  /*background-color: #242424;*/
  /*background-color: black;*/
}


.dropdown-resized {
  max-height: 350px;
  overflow-y: scroll;
}

.cursor-pointer:hover {
  cursor: pointer;
}
